body{
	color: #cc9933;
	max-width: 790px;
	margin: 0 auto;
	background: black;	
}

/* Floats the logo to left corner of page.*/
.logo{
	float: left;
}

/* START Navigation Bar-------------------------------------------------------*/

/*Floats the nav element to upper right of page.*/
nav{
	float: right; 
}

.navbar{
	width: 425px;
	margin: 10 auto;
	list-style-type: none;
	padding: 0;
	overflow: hidden;	
}

.nav_li{
	width: 100px;
	float: left;
}

/*Adds style to navbar anchors.*/
.navbar a{
	border: 2px solid #cc9933;
	border-radius: 10px;
	text-decoration: none;
	overflow: hidden;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 5px;
}

/*Adds style to the different states of nav anchors.*/
.navbar a:link{
	color: #cc9933;
}

.navbar a:visited{
	color: silver;
}

.navbar a:hover{
	color: blue;
	background: #cc9933;
}

.navbar a:active{
	color: red;
}
/* END Navigation Bar---------------------------------------------------------*/

/* START Call To Action CTA---------------------------------------------------*/

/* Setsup CTA with image, background and border. */
.cta{
	background-image: url("../Images/background.jpg");
	background-position: center center;
	/*background-repeat: none;*/
	border-style: solid;
	border-radius: 20px;
	border-width: 4px;
	padding-bottom: 50px;
	padding-right: 20px;
	box-shadow: 6px 6px 6px gray;
}
.cta_img{
	float: left;
}
/* END CTA--------------------------------------------------------------------*/

/* START Join Button----------------------------------------------------------*/

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 22px/100% Emblema One, cursive;
	padding: 20px 60px 22px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-moz-border-radius: .5em;
	border-radius: .5em;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.join {
	color: #cc9933;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
}

.join:hover {
	background: silver;
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
}

.join:active {
	color: red;
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
}
/*END Join Button-------------------------------------------------------------*/

/*START News and Information--------------------------------------------------*/

/* Places some spacing between the news section and the CTA. */
#news{
	margin-top: 100px;	
}

/* Places the news text into 3 column layout and places padding between the news and gallery. */
.current_news{
	-moz-column-count: 3;
	-moz-column-gap: 25px;
	padding-bottom: 100px;
}
/*END News and Information----------------------------------------------------*/

/*START Gallery---------------------------------------------------------------*/
/*Places border, removes list buttons, sets up padding to gallery thumbnails.*/
.gallery_list{
	border: 2px solid #cc9933;
	border-radius: 20px;
	list-style-type: none;
	width: 640px;
	margin: 20px auto;
	overflow: hidden;
	padding: 5px;
}

.gpic_li{
	float: left;
	margin-left: 23px;
	border: 2px solid silver;
}
/*END Gallery-----------------------------------------------------------------*/

/*START Misc Coding-----------------------------------------------------------*/

h1, h2, h3, a{
	font-family: "Emblema One", cursive; /* Custom font from googlefonts */
	text-shadow: 2px 2px 2px gray;
}


/*Sets basic color of paragraphs.*/
p{
	color: silver;
}

/*Clears the floats of elements above it.*/
.cleardiv{
	clear: both; 
}
/*END Misc Coding-------------------------------------------------------------*/